body {
    margin: 0px;
    padding: 0px;
}

h2 {
    background-color: #e6ecff;
    text-align: center;
    margin: 20px;
}

h4 {
    background-color: #333333;
    padding: 10px;
    color: #fff;
    width: 70%;
    margin: auto;
    text-align: justify;


}

#container {
    width: 70%;
    height: 40%;
    margin: auto;
    margin-top: 0px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 10px 10px 5px 10px #888888;


}

.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #f2f2f2;
}

.const {

    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 5px 10px #888888;

}

#salery {
    margin-left: 70px;
}

#specs {
    position: absolute;
    font-size: 15px;
    margin-left: 20px;
    width: 300px;
}